{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row mt-4"></div>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-12">

      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          {% if project.project_image %}
          <img class="card-img-top" src="{{project.project_image.url}}" alt="{{ project.project_name }}"
           style="max-height: 500px;">
          {% else %}
          <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
            alt="{{ project.project_name }}">
          {% endif %}
          <a href="#!">
            <div class="mask rgba-white-slight">
              <div class="d-flex justify-content-end">
                <a href="{{project.link}}" target="_blank" title="Visit site"> <button type="button"
                    class="btn btn-light px-3"><i class="fas fa-directions" aria-hidden="true"></i></button>
                </a></div>
            </div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h2 class="font-weight-bold"><a>{{ project.project_title }}</a></h2>
          <!-- Data -->
          <h4 class="">{{ project.project_description }}</h4>

          <!-- Social shares -->
          <div>
            <a href="{{project.link}}" target="_blank" title="Visit site">
              <button type="button" class="btn btn-default font-weight-bold px-3">Visit website</button></a>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="D-block mx-auto">Ratings Scores</h3>
                {% for rating in project.ratings.all %}
                {% if forloop.counter is project.ratings.all.count %}
                <a class="btn btn-info btn-sm" ><h5>{{ rating.score }}</h5>
                    <span class="sc">Average Score</span>
                </a>
                <a class="btn btn-outline-success btn-sm" ><h5>{{ rating.design_average }}</h5>
                    <span class="sc">Design Score</span>
                </a>
                <a class="btn btn-outline-primary btn-sm" id="u"><h5>{{ rating.usability_average }}</h5>
                    <span class="sc">Usability score</span>
                </a>
                <a class="btn btn-outline-danger btn-sm" id="c"><h5>{{ rating.content_average }}</h5>
                    <span class="sc">Content score</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>

        {% if rating_status %}
        <h5>You have already voted</h5>
        {% else %}
        {% if user.is_authenticated %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{rating_form|crispy}}
            <button class="btn btn-sm btn-primary">Rate</button>
        </form>
        {% endif %}
        {% endif %}
          


          <div class="row">
            <div class="col-lg-6 dark-text"> <small> <span class="mr-1"> From {{project.country.name}}</span>
                <img src="{{project.country.flag}}" alt=" {{project.country.name}} flag"> </small> </div>

            <div class="col-lg-6 dark-text"> <small> Date Posted: {{project.pub_date|date:"d /m/Y"}} </small> </div>
          </div>
          
        </div>
    

      </div>
     

      
      <div class="card mt-5 pb-2 mb-2">

        <!-- Card footer -->
        <div class="card-footer bg-white">
          <h5 class="pt-2">CREDITS</h5>

          <hr>

          <small class="font-weight-bold ml-2"><img src="{{ project.Author.profile.picture.url }}" alt=""
              class="rounded-circle img-fluid mr-1" style="width: 50px;">
            BY {{project.Author.username|upper}} <span class="ml-1 mr-1"> From {{project.country.name}}</span>
            <img src="{{project.country.flag}}" alt=" {{project.country.name}} flag"></small>
        </div>

      </div>

    </div>
    

  </div>
  

</div>
{% endblock %}